*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tabela {
    display: flex;
    align-items: center;
    justify-content: center;
}

.IMC-table {
    display: block;
    max-width: 93vw;
    overflow-x: auto;
    position: relative;
}

th {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 10px;

    height:17px;
    min-width: 17px;
    
}
.altura{
    position: sticky;
    top: 0;
}
td{
    width: 17px;
    height: 17px;
}

.IMC-baixo-muito-grave {

    background-color: darkblue;
}

.IMC-baixo-grave {

    background-color: blue;
}

.IMC-baixo {

    background-color: green;
}

.IMC-normal {

    background-color: lime;
}

.IMC-sobrepeso {

    background-color: yellow;
}

.IMC-obesidade1 {
 
    background-color: orange;
}

.IMC-obesidade2 {
    
    background-color: red;
}

.IMC-obesidade3 {

    background-color: purple;
}