* {
    font-family: monospace;
}


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #ececea;
}

header {
    background-color: #ded8d8;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #020202;
}

main {
    margin: 20px;
}



.questoes {
    background-color: #e5d2c4;
    padding: 20px;
}

.questoes fieldset {
    border: 1px black solid;
    margin-bottom: 1em;
}

.questoes fieldset legend {
    border: 1px black solid;
    margin-left: 1em;
    padding: 0.2em 0.8em;
}


.questoes input[type="number"] {
    width: 50px;
    border: 1px solid #020202;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #e5d2c4;
    width: 50px;
}

button {
    margin-bottom: 10px;
    background-color: #020202;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;

}

h2 {
    font-size: 18px;
    color: #020202;
}

.listMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.listMenu li {
    margin: 10px 0;
}

.listMenu li a {
    display: block;
    padding: 10px 20px;
    background-color: #020202;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}


/* Questão 1 */

.questoes .q1_select {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.questoes .q1_select li {
    display: flex;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    margin: 10px 0;
}

.questoes .q1_select input[type="radio"] {
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: none;
}

/* Questão 3 */

.q3_resp_img {
    width: 20px;
    height: 20px;
}


.questoes .pergunta .resposta ol .q3_resp {
    display: flex;
    align-items: center;
}

.questoes .pergunta .resposta ol a {
    color: #000;
    text-decoration: none;
}

.questoes .pergunta .resposta ol #resp {
    color: #60c90a;

}

/* Questão 4 */
.tabela {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    display: block;

}

th,
td {
    width: 10vw;
    border: 1px solid #020202;
    padding: 10px;
}

th {
    color: #FFF;
    background-color: #000;
    text-align: center;
}

td {
    text-align: center;
}

tbody {
    max-height: 450px;
    overflow-y: auto;
    display: block;
}


tbody tr:nth-child(even) {
    background-color: #eee;
}

/* Footer */
footer {
    background-color: #ded8d8;
    padding: 20px;
    text-align: center;
}

p {
    font-size: 16px;
    color: #020202;
}