.tabela {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    display: block;
    margin-top: 20px;
    border-collapse: collapse;
    max-width: 70vw;
    max-height: 480px;
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
}

th,
td {
    width: 10vw;
    border: 1px solid #020202;
    padding: 10px;
}

th {
    color: #FFF;
    background-color: #000;
    text-align: center;
    position: sticky;
    top: 0;
}

td {
    text-align: center;
}



tbody tr:nth-child(even) {
    background-color: #eee;
}